{% load static %}
{% block content %}
<!-- Pills navs -->
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <div class="card shadow-lg">
              <div class="card-body">
                  <h3 class="text-center mb-4">Login</h3>
                  <form>
                      <div class="mb-3">
                          <label for="email" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="email" placeholder="Enter email">
                      </div>
                      <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" placeholder="Enter password">
                      </div>
                        <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="remember">Remember me</label>
                        </div> -->
                      <button type="submit" class="btn btn-primary w-100">Login</button>
                  </form>
                  <p class="text-center mt-3">
                      Don't have an account? <a href="register/">Register</a>
                  </p>
                  <!-- <p class="text-center">
                      <a href="#">Forgot Password?</a>
                  </p> -->
              </div>
          </div>
      </div>
  </div>
</div>
  <!-- Pills content -->

  <script type="text/javascript" src="{%  static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{%  static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{%  static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{%  static 'js/slim.min.js' %}"></script>
  <script type="text/css" src="{% static 'css/boostrap.min.css' %}"></script>

<script>

</script>

  {% endblock %}